@import url("https://fonts.googleapis.com/css2?family=Jura&family=Michroma&display=swap");

.Card-title {
  font-size: 15px;
  font-family: "Jura", sans-serif;
  color: #03045e;
}

.Card-titleline {
  display: flex;
  justify-content: space-between;
}

.Card-betcontent {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Michroma", sans-serif;
  text-align: center;
  color: #03045e;
}

.Card-subtitle {
  font-family: "Jura", sans-serif;
  text-align: center;
  font-size: 20px;
  color: #03045e;
  margin-top: 5px;
}

.Card-subtitle2 {
  font-family: "Jura", sans-serif;
  text-align: center;
  font-size: 15px;
  color: #03045e;
}

.Card-container {
  background-color: rgb(255, 200, 137);
  display: flex;
  width: 50 px;
  height: fit-content;
  border: none;
  flex-direction: column;
  justify-content: left;
  /* column-gap: 16px; */
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 320px;
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Card-options {
  display: flex;
}

.Card-newbetcontainer {
  background-color: #0096c7;
  /* margin: 16px; */
  padding: 15px;
  margin-left: 320px;
  margin-top: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Card-Voteline {
  display: flex;
  justify-content: center;
}
.Card-Vote {
  width: 100%;
  display: flex;
  font-family: "Jura", sans-serif;
  width: calc(100vh-100px);
  justify-content: space-evenly;
  background-color: #03045e; /* Green */
  border: none;
  color: #f2f2f2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 5px;
}
