.ComposeBetTest-form {
  margin: 10px;
}

.ComposeBetTest-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Michroma", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}

.ComposeBetTest-button:hover {
  color: #ffffff;
  background-color: #000000;
}

@media all and (max-width: 30em) {
  .ComposeBetTest-button {
    display: block;
  }
}

.ComposeBetTest-betbutton {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Michroma", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  justify-content: flex-end;
}

.ComposeBetTest-betbutton:hover {
  color: #ffffff;
  background-color: #000000;
}

@media all and (max-width: 30em) {
  .ComposeBetTest-betbutton {
    display: block;
  }
}
.ComposeBetTest-betinput {
  width: 100%;
  height: 150px;
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
  text-align: left;
  vertical-align: top;
  margin-bottom: 12px;
  font-family: "Michroma", sans-serif;
}

.ComposeBetTest-optioninput {
  width: 300px;
  height: 33px;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-family: "Michroma", sans-serif;
}

.ComposeBetTest-expirationinput {
  color: #ffffff;
  font-family: "Michroma", sans-serif;
  margin: 10px;

  font-family: "Michroma", sans-serif;
}

.ComposeBetTest-datetimepicker {
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  background: #ffffff;
  font-family: "Michroma", sans-serif;
  font-size: 13px;
}

.ComposeBetTest-addoptionsection {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.ComposeBetTest-submissionbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ComposeBetTest-finalbuttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start space-evenly;
  padding: 10px;
  margin: 10px;
}

.ComposeBetTest-optionremove {
  display: flex;
  flex-direction: row;
}

.ComposeBetTest-pointvalue {
  font-family: "Michroma", sans-serif;
  font-size: 13px;
}
