@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap");

.NavBar-Title {
  margin-left: 25px;

  font-size: 25px;
  font-weight: 400;
  color: #f3f0f0;
  font-family: "Work Sans", sans-serif;
}

.NavBar-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  position: fixed; /* Fixed Navbar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */

  background: #4d1818;
}

.NavBar-LinkContainer {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background: #4d1818;
  margin-left: 150px;
}

.NavBar-Link {
  font-size: 25px;
  font-weight: 375;
  color: #f3f0f0;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}
